* {margin: 0px;padding: 0px;}
header, section, footer, aside, nav, article, figure, figcaption, hgroup{display: block;}

div {margin: 10px;position: relative;}

input + span {padding-right: 30px;}
input:invalid {color: red;}
input:invalid+span:after {position: absolute; content: '✖';padding-left: 5px;color: red;}
  
input:valid+span:after {position: absolute;content: '✓';padding-left: 5px;color: green;}
input,input:valid {color: #000000;}

#cantidad {width: 3em;}
.imgverdura{max-width: 50px;}
.cellIzq{text-align: left;}
.cellCen{text-align: center;}
.cellDer{text-align: right;}

td.descuentoGreen{background-color: green;text-align: right;}
td.ivaBlue{background-color: lightskyblue;text-align: right;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    height: 40px;
    margin-top: 7px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }